<div class="botones">
    <button><a target="marco-modulos" href="agregarCliente.html" style="text-decoration: none; color: aliceblue;">agregar</a></button>
    <input class=" Buscar" type="search" placeholder="Buscar" aria-label="Buscar">
   </div>

   <div class="tabla">
       <table class="table caption-top">
           <caption>lista Clientes</caption>
           <thead>
             <tr>
               <th scope="col">#</th>
               <th scope="col">Nombres</th>
               <th scope="col">Apellidos</th>
               <th scope="col">Documento</th>
               <th scope="col">telefono</th>
               <th scope="col">Direccion</th>
               <th scope="col">Correo</th>
               <th scope="col">fecha vinculacion</th>
               <th scope="col">Acciones</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row">1</th>
               <td>agenda</td>
               <td>carta</td>
               <td>01/02/2022</td>
               <td>rutaprueba</td>
               <td>Roberto</td>
               <td>Maria</td>
               <td>Maria</td>
               <td><i class="bi bi-pencil-square"></i><i class="bi bi-trash3-fill"></i></td>
             </tr>
             <tr>
               <th scope="row">2</th>
               <td>Jacob</td>
               <td>Thornton</td>
               <td>@fat</td>
               <td>@mdo</td>
               <td>@mdo</td>
               <td>@mdo</td>
               <td>Maria</td>
               <td><i class="bi bi-pencil-square"></i><i class="bi bi-trash3-fill"></i></td>
             </tr>
             <tr>
               <th scope="row">3</th>
               <td>Larry</td>
               <td>the Bird</td>
               <td>@twitter</td>
               <td>@mdo</td>
               <td>@mdo</td>
               <td>@mdo</td>
               <td>Maria</td>
               <td><i class="bi bi-pencil-square"></i><i class="bi bi-trash3-fill"></i></td>
               
             </tr>
           </tbody>
         </table>


   </div>
