.logo{
    width: 100%;
    height: 60px;
    background-color:rgb(15, 143, 47) ;
}
#nav{
    background-color: rgb(15, 143, 47);
    padding-top: 0rem;
}






.container-fluid {
    background-color: rgb(15, 143, 47);
    height: 70px;
    border-color:rgb(15, 143, 47) ;
    padding-top: 0rem;
    
   
}
a{
    position: relative;
    left: 400px;
    margin: 20px;
    font-size: 20px;
    color: aliceblue;
    
}


a:hover{
    color: rgb(163, 55, 55);
}

.boton{
    background-color: beige;
}

