<header>
  <div class="logo">
   <img src="/assets/logo.png" alt="logo">
  </div>
 
    <nav class="navbar navbar-expand-lg navbar-light bg-light " id="nav">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="flex ">
            

          </div>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"  routerLinkActive="active">
                <a class="nav-link " aria-current="page" routerLink="/documentos" >Documentos</a>
                
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" aria-current="page" [routerLink]="['clientes']">Clientes</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" aria-current="page" routerLink="/empleados">Empleados</a>
              </li>
            </ul>
           
          </div>
        </div>
      </nav>
</header>
