<div class="formulario">
    <h1>Añadir nuevo Empleado</h1>
  

   <form action="" class="form1" method="post">
       
       <div class="arriba">
       <input type="text" placeholder="Nombres" name="Nombres" required="true" class="tamano1">
       <input type="text" placeholder="Apellidos" name="Apellidos" required="true" class="tamano1">
       <input type="number" placeholder="Documento" name="Documento" required="true" class="tamano1">
       </div>
       <div class="abajo">
         <input type="number" placeholder="Telefono" name="Telefono" required="true" class="tamano2">
       <input type="text" placeholder="Direccion" name="Direccion" required="true" class="tamano2">
       <input type="text" placeholder="Correo" name="Correo" required="true" class="tamano2">
       </div>
       <div class="boton">
          <input type="date" placeholder="Fecha Vinculacion" name="Fecha Vinculacion" required="true" class="tamano2">
          <input type="text" placeholder="Cargo" name="Correo" required="true" class="tamano2">
          
          <input type="submit" class="boton-guardar" value="Guardar">
       </div>
        
           
       
  
    </form>
 </div>
